:root {
  --primary: #f6f7f9;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --light-blue: #c2edf4;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  font-size: 100%;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: .1em;
  background: var(--light-blue);
  color: var(--dark);
  font-family: 'Arial', sans-serif;
  position: relative;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: space-around;
	margin: 3% 5%;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 70px;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 50px;
  background: yellow;
}

#header h1 {
  text-align: center;
  color: blue;
  transform: scale(.9, 1);
}

#header h2 {
  text-align: center;
  transform: scale(1.15, 0.8);
}

#name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-tabs {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-item {
  margin: 10px;
  font-size: 1.5em;
}

#footer {
  position: absolute;
  bottom: 0;
  background: var(--light);
  height: 70px;
}
#footer h5 {
  text-align: center;
  padding: 1em;
}
.footer-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#footer p {
  margin: 0 10px;
  width: 5%;
}

#contact-me {
  display: flex;
  flex: row wrap;
  align-items: center;
  justify-content: center;
}

form#contact-form {
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
  margin: 5px 0;
  line-height: 1.25;
}

#project {
  display: flex;
  justify-content: space-between;
}

div#project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
}

img.img-project{
  flex: 1 1 400px;
}

#project-info h2 {
  color: blue;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
  color: red;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.about img {
  border-radius: 50%;
  width: 95%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  flex: 30%;
}

.col-1 h1 {
  font-size: 7vw;
  margin-bottom: 20px;
  color: blue;
}

.col-2 {
  /* flex: 1 1 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 400px;
  flex: 50%;
  gap: 20px;
}

.col-2 p {
  padding: 5px;
  box-shadow: 1px 3px #888888;
  border-bottom-right-radius: 10%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav  li {
  cursor: pointer;
}

/* textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
} */

/* .card {
  width: 25%;
  text-align: center;
} */

.img-github {
  width: 30%;
}